<header>
    <a href="{{ "/" | relative_url }}" title="Home">
      <h1>{{ site.title }}</h1>
    </a>
    <h2>{{ site.description }}</h2>
    <div class="header-icons">
      <a href="{{ "/" | relative_url }}" title="Github">
        {%- include icons/github-brands.svg -%}
      </a>
      <!-- <a href="{{ "/" | relative_url }}" title="Pinterest">
      {%- include icons/pinterest-brands.svg -%}
      </a> -->
      <!-- <a href="{{ "/" | relative_url }}" title="Twitter">
        {%- include icons/twitter-square-brands.svg -%}
      </a> -->
    </div>
</header>
